# The GitHub API endpoint for workflow dispatch
# Format: https://api.github.com/repos/{owner}/{repo}/actions/workflows/{workflow_id_or_filename}/dispatches
GITHUB_WEBHOOK_URL=https://api.github.com/repos/{owner}/{repo}/actions/workflows/{workflow_id_or_filename}/dispatches

# GitHub Personal Access Token (Requires 'repo' or 'actions:write' scope)
# [REQUIRED]
GITHUB_TOKEN=ghp_your_personal_access_token_here

# [REQUIRED]  API GitHub version (stable: 2022-11-28)
GITHUB_API_VERSION=2022-11-28

# The branch you want to run the workflow on
TARGET_BRANCH=main

# Cron schedule (e.g., every 5 minutes)
CRON_SCHEDULE=*/5 * * * *